%h1 Login

= form_tag('/sessions', method: :post) do
  = label_tag(:email, 'Email:')
  = text_field_tag(:email)
  %br
  = label_tag(:password, 'Password:')
  = text_field_tag(:password)
  %br
  = submit_tag("Submit")
