%h1
  All Users

-# = link_to 'New User', new_user_path
= link_to("New User", new_user_path)

%h5
  - @users.each do |user|
    = link_to user_path(user) do
      = user.fname
      = user.lname
    %br
    = user.email
    %br
