.nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a{:class => "navbar-brand", :href=> "/"} MircroBlog
    %ul{:class=>"nav navbar-nav"}
      %li
        = link_to "Home", root_path
        -# %a{href: '/'}
        -#   Home
      %li
        = link_to "Users", users_path
        -# %a{href: '/users'}
        -#   Users
      %li
        = link_to "Posts", posts_path
        -# %a{href: '/posts'}
        -#   Posts
      %li
        = link_to "Comments", comments_path
      %li
        - if user_signed_in?
          = link_to "Logout", '/logout'
          -# %a{href: '/logout'}
          -#   Logout
        - else
          = link_to "Login", '/login'
          -# %a{href: '/login'}
          -#   Login
      %li
        = link_to("Register", new_user_path)
