!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Introrails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %a{href: '/'}
      Home
    %a{href: '/users'}
      Users
    %a{href: '/movies'}
      Movies
    - if user_signed_in?
      %a{href: '/logout'}
        Logout
    - else
      %a{href: '/login'}
        Login
    %br
    %br

    - if current_user
      %h2
        = 'Welcome ' + current_user.fname
    =flash[:notice] if flash[:notice]
    =flash[:alert] if flash[:alert]
    = yield
