!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Introrails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "style.css"}
%body
  =render partial: 'layouts/nav'
- if current_user
  %h2
    = 'Welcome ' + current_user.fname
=flash[:notice] if flash[:notice]
=flash[:alert] if flash[:alert]
= yield
